@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bodyColor: #fff;
  --primaryColor: #18ac78;
  --btnColor: #1fc088;
  --primaryFont: "Poppins", sans-serif;
  --mainFontColor: #ffffff;
  --secondaryFontColor: #e1dcdc;
  --titleColor: #000;
  --subtitleColor: #000000d0;
  --paragraphTextColor: #000;
}
::selection {
  background-color: var(--primaryColor);
  color: var(--mainFontColor);
}

/* Navigation Section Start */
.navbar {
  background-color: var(--primaryColor);
}
a {
  text-decoration: none;
  color: var(--mainFontColor) !important;
}
p,
ul,
li {
  margin: 0;
  padding: 0 8px;
  list-style: none;
}
body {
}

/* Navigation Section Start  */
.nav-link {
  color: var(--secondaryFontColor) !important;

  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--mainFontColor) !important;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Navigation Section End  */

/* Utilities Start */

.titleText {
  font-size: 3rem;
  color: var(--titleColor);
  font-family: var(--primaryFont);
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.titleText::after {
  content: url(../img/line.png);
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  top: 30px;
}

.subtitleText {
  font-size: 1.5rem;
  color: var(--subtitleColor);
  font-family: var(--primaryFont);
  font-weight: 600;
}

.paragraphTitle {
  font-size: 1.3rem;
  color: var(--subtitleColor);
  font-family: var(--primaryFont);
  font-weight: 600;
}
.paragraphText {
  font-weight: normal;
  font-family: var(--primaryFont);
  color: var(--paragraphTextColor);
}
.fa-caret-right {
  color: var(--primaryColor);
  font-size: 1rem;
  padding-right: 5px;
}
.section {
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
}
.btnCustom {
  border: none;
  height: 50px;
  border-radius: 7px;
  font-family: var(--primaryFont);
  background-color: var(--btnColor) !important;
}

.btnCustom:hover {
  opacity: 0.9;
}
/* Utilities End */

/* First Section Start */
.firstSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.solutionMessageBox {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.solutionImg {
  width: 80px;
  height: 80px;
}
.solutionMessageBox .paragraphTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
.solutionMessageBox .paragraphText {
  margin-bottom: 5px;
}
.firstSection .btnCustom {
  margin-top: 40px;
  width: 200px;
}
.wrapper {
  height: 60vh;
}
.wrapperImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
/* First Section End */

/* Product Section Start */
.productSection .subtitleText {
  margin-bottom: 20px;
}
.productBox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 32px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.singleBox img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center center;
}
.productSection .paragraphTitle {
  margin-bottom: 10px;
}
.productSection .wrapperImg {
  background-size: contain;
  height: auto;
  margin-top: 40px;
}
.btnProduct {
  position: relative;
  padding: 0 20px;
  margin-top: 40px;
  border-radius: 0;
  width: 70%;
}
.btnProduct::after {
  content: "";
  position: absolute;
  border-top: 50px solid var(--btnColor);
  border-left: 50px solid var(--btnColor);
  border-right: 50px solid transparent;
  border-bottom: 0px solid transparent;
  top: 0;
  z-index: -1;
  right: -50px;
}
.btnProduct::before {
  content: "";
  position: absolute;
  border-top: 0px solid transparent;
  border-right: 50px solid var(--btnColor);
  border-left: 50px solid transparent;
  border-bottom: 50px solid var(--btnColor);
  top: 0;
  left: -50px;
  z-index: -1;
}
/* Product Section End */

@media screen and (max-width: 767px) {
  /* Utilites Start */
  .section {
    padding: 60px 0px;
  }
  .titleText {
    font-size: 2.1rem;
    margin-bottom: 60px;
  }
  .subtitleText {
    font-size: 1.2rem;
  }
  .paragraphTitle {
    font-size: 1rem;
  }
  .paragraphText {
    font-size: 0.9em;
  }
  /* Utilites End */

  /* First Section Start */
  .firstSection {
    margin-top: 40px;
  }
  .firstSection .btnCustom {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .solutionMessageBox {
    margin: 20px 0;
  }
  /* First Section End */

  /* Product Section Start */
  .productSection .wrapperImg {
    background-size: contain;
    height: auto;
    margin-top: 20px;
  }

  .productSection .paragraphTitle {
    margin-top: 20px;
  }
  /* Product Section End */
}
