@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bodyColor: #fff;
  --primaryColor: #18ac78;
  --btnColor: #1fc088;
  --primaryFont: "Poppins", sans-serif;
  --mainFontColor: #ffffff;
  --secondaryFontColor: #e1dcdc;
  --titleColor: #000;
  --subtitleColor: #000000d0;
  --paragraphTextColor: #000;
}
::selection {
  background-color: var(--primaryColor);
  color: var(--mainFontColor);
}

/* Navigation Section Start */
.navbar {
  background-color: var(--primaryColor);
}
a {
  text-decoration: none;
  color: var(--mainFontColor) !important;
}
p,
ul,
li {
  margin: 0;
  padding: 0 8px;
  list-style: none;
}
body {
}

/* Navigation Section Start  */
.nav-link {
  color: var(--secondaryFontColor) !important;

  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--mainFontColor) !important;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Navigation Section End  */

/* Utilities Start */

.titleText {
  font-size: 3rem;
  color: var(--titleColor);
  font-family: var(--primaryFont);
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.titleText::after {
  content: url(../img/line.png);
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  top: 30px;
}

.subtitleText {
  font-size: 1.5rem;
  color: var(--subtitleColor);
  font-family: var(--primaryFont);
  font-weight: 600;
}

.paragraphTitle {
  font-size: 1.3rem;
  color: var(--subtitleColor);
  font-family: var(--primaryFont);
  font-weight: 600;
}
.paragraphText {
  font-weight: normal;
  font-family: var(--primaryFont);
  color: var(--paragraphTextColor);
}
.fa-caret-right {
  color: var(--primaryColor);
  font-size: 1rem;
  padding-right: 5px;
}
.section {
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
}
.btnCustom {
  border: none;
  height: 50px;
  border-radius: 7px;
  font-family: var(--primaryFont);
  background-color: var(--btnColor) !important;
  color: #fff;
}

.btnCustom:hover {
  opacity: 0.9;
}
/* Utilities End */

/* First Section Start */
.firstSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.solutionMessageBox {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.solutionImg {
  width: 80px;
  height: 80px;
}
.solutionMessageBox .paragraphTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
.solutionMessageBox .paragraphText {
  margin-bottom: 5px;
}
.firstSection .btnCustom {
  margin-top: 40px;
  width: 200px;
}
.wrapper {
  height: 60vh;
}
.wrapperImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
/* First Section End */

/* Product Section Start */
.productSection .subtitleText {
  margin-bottom: 20px;
}
.productBox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 32px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.singleBox img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center center;
}
.productSection .paragraphTitle {
  margin-bottom: 10px;
}
.productSection .wrapperImg {
  background-size: contain;
  height: auto;
  margin-top: 40px;
}
.btnProduct {
  position: relative;
  padding: 0 20px;
  margin-top: 40px;
  border-radius: 0;
  width: 70%;
}
.btnProduct::after {
  content: "";
  position: absolute;
  border-top: 50px solid var(--btnColor);
  border-left: 50px solid var(--btnColor);
  border-right: 50px solid transparent;
  border-bottom: 0px solid transparent;
  top: 0;
  z-index: -1;
  right: -50px;
}
.btnProduct::before {
  content: "";
  position: absolute;
  border-top: 0px solid transparent;
  border-right: 50px solid var(--btnColor);
  border-left: 50px solid transparent;
  border-bottom: 50px solid var(--btnColor);
  top: 0;
  left: -50px;
  z-index: -1;
}
/* Product Section End */

/* Commitment Section Start */
.commitSection .btnCustom {
  margin-top: 10px;
  width: 100%;
}
.commitSection .wrapperImg {
  height: auto;
}
.singleCommit img {
  width: 80px;
  height: 80px;
}
.singleCommit {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 30px 10px;
  border-radius: 7px;
  width: 99%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.singleCommit .paragraphText {
  margin-bottom: 10px;
}
.normalText {
  font-size: 1em;
  font-family: var(--primaryFont);
  color: #565656;
}
.commitBoxWrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.singleCommitBox {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 7px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 48%;
  position: relative;
}
.singleCommitBox img {
  position: absolute;
  top: -40px;
  height: 80px;
  width: 80px;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.singleCommitBox .paragraphTitle {
  margin-top: 40px;
  margin-bottom: 10px;
}
/* Commitment Section End */

/* Footer Section Start */
.footerSection {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primaryColor);
}
.footerSection .paragraphTitle {
  color: #fff;
}
.footerSection .paragraphText {
  color: #ffffffd7;
  margin-bottom: 40px;
}
.footerSection .footerTitle {
  font-family: var(--primaryFont);
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.footerSection ul {
  list-style: none;
  margin-left: -8px;
  margin-bottom: 20px;
}
.footerSection ul li {
  float: none;
  color: #ffffffd7;
  font-size: 1em;
  font-family: var(--primaryFont);
}
.footerSection ul li a {
  text-decoration: none;
  color: #ffffffd7;
}
.footerSection hr {
  border-top: 6px solid #fffcfc;
  margin-bottom: 40px;
}
/* Footer Section End */

/* Pricing Section Start */
.pricingSection .titleText::after {
  left: 10px;
  top: 105px;
}
.pricingSection .titleText {
  font-size: 3.1rem;
}
.imgBoxShadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  height: 400px;
  width: 400px;
  padding: 10px;
  border-radius: 50%;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.pricingWrapperImg {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.singleRevenue {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 20px 0;
  margin: 20px 0;
}
.pricingSection .pText {
  margin-top: 40px;
  margin-bottom: 20px;
}
/* Pricing Section End */

/* Enquiries Section Start */
.companyBox {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 40px;
}
.founderBox {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.founderWrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.singleFounder {
  width: 49%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 20px 10px;
  border-radius: 7px;
  margin: 12px 0;
}
.companyTitle,
.founderTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.companyTitle img,
.founderTitle img {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}
.name {
  font-size: 1.3em;
  font-weight: 600;
  color: #000000e5;
  font-family: var(--primaryFont);
  text-align: center;
}
.designation {
  font-weight: 500;
  text-align: center;
  font-family: var(--primaryFont);
  font-size: 1em;
  color: #000000b9;
  margin-bottom: 5px;
}
.description {
  font-weight: normal;
  text-align: center;
  font-family: var(--primaryFont);
  font-size: 1;
  color: #000000b9;
}
/* Enquiries Section End */

/* Contact Section Start */
.contactSection .titleText {
  margin-bottom: 0;
}
.contactSection .row {
  display: flex;
  align-items: center;
}
.contactSection .btnCustom {
  padding: 10px 30px;
  margin-top: 20px;
}
.contactSection .paragraphText {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
}
.orText {
  font-family: var(--primaryFont);
  font-size: 1.2em;
  font-weight: 500;
  margin: 10px 0;
  color: #000000a7;
}
.emailBox {
  color: #2b2222;
  font-weight: 600;
  font-size: 1.1em;
  font-family: var(--primaryFont);
}

.emailBox input {
  border: 2px solid var(--primaryColor);
  padding: 16px 10px;
  border-radius: 8px;
  outline: none;
  width: 100%;
  margin-top: 10px;
}
.cotactImg {
  background-position: center center;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* Contact Section End */

@media screen and (max-width: 767px) {
  /* Utilites Start */
  .section {
    padding: 60px 0px;
  }
  .titleText {
    font-size: 2.1rem;
    margin-bottom: 60px;
  }
  .subtitleText {
    font-size: 1.2rem;
  }
  .paragraphTitle {
    font-size: 1rem;
  }
  .paragraphText {
    font-size: 0.9em;
  }
  /* Utilites End */

  /* First Section Start */
  .firstSection {
    margin-top: 40px;
  }
  .firstSection .btnCustom {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .solutionMessageBox {
    margin: 20px 0;
  }
  /* First Section End */

  /* Product Section Start */
  .productSection {
    padding-top: 20px;
  }
  .productSection .wrapperImg {
    background-size: contain;
    height: auto;
    margin-top: 20px;
  }

  .productSection .paragraphTitle {
    margin-top: 20px;
  }
  /* Product Section End */

  /* Commitmenti Section Start */
  .commitSection {
    padding-top: 20px;
  }
  .singleCommit img {
    margin-bottom: 20px;
  }
  .singleCommitBox {
    width: 100%;
  }
  .singleCommit {
    width: 100%;
  }
  .singleCommit .paragraphTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  /* Commitmenti Section Start */

  /* Pricing Section Start */
  .pricingSection {
    padding-top: 20px;
    padding-bottom: 0 !important;
  }
  .pricingSection .titleText {
    font-size: 3rem;
  }
  .pricingRightHeading {
    margin-top: 20px;
  }
  .pTitleImg {
    height: 60px;
    width: 60px;
  }
  .imgBoxShadow {
    width: 300px;
    height: 300px;
  }
  /* Pricing Section End */

  /* Enquiries Section Start */
  .singleFounder {
    width: 100%;
  }
  .enquiriesSection {
    padding-top: 20px;
  }
  /* Enquiries Section End */

  /* Contact Section Start */
  .contactSection {
    padding-top: 20px;
    padding-bottom: 0 !important;
  }
  .contactSection .titleText {
    margin-bottom: 60px;
  }
  /* Contact Section Start */
}

@media screen and (max-width: 500px) {
  .pricingSection .titleText {
    font-size: 2.4rem;
  }
}
